<%= render 'form', entry: @entry %>

<div class ="container mt-3">
    <section class = "col-8 mx-auto"> 
        <%= link_to 'Show', [@category, @entry], :class => "btn btn-outline-dark btn-sm mb-4" %>
        <%= link_to "â† #{@category.title}", category_entries_path(@category), :class => "btn btn-outline-dark btn-sm mb-4" %>
    </section>
</div>
