<%= render 'form', category: @category %>

<div class ="container mt-3">
    <section class = "col-8 mx-auto"> 
        <%= link_to 'â† Categories', categories_path, :class => "btn btn-outline-dark btn-sm mb-4" %>
    </section>
</div>
